[Unit]
Description=Renumbering service
After=network.target

[Service]
User=flask
Group=flask
; this is really questionable security wise. When properly deploying use a
; reverse proxy
AmbientCapabilities=CAP_NET_BIND_SERVICE
WorkingDirectory=/opt/renumber
ExecStart=/opt/renumber/venv/bin/gunicorn -t 120 -b 0.0.0.0:80 -w 4 app:app
Restart=on-failure

[Install]
WantedBy=multi-user.target
