<!doctype html>
<title>renumber</title>
<h1>renumbering!</h1>

<form method="POST">
	<input type="submit" value="renumber">
	<br/>
	<textarea id="list" name="list" 
		rows="100"
		cols="80"
		placeholder="list here..">{{ list }}</textarea>
</form>
